.admin-nav-items-conteiner {
  display: flex;
  justify-content: space-around;
}

.admin-nav-conteiner {
  padding: 10px;
  background-color: #ffffff;
}

.admin-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(10px + calc((75vw) / 3));
  height: 50px;
  background-color: #f2f2f2;
  border-radius: 100px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.015em;
  color: #9e9e9e;
}

.admin-nav-item.active {
  background: rgba(64, 123, 255, 0.3);
  color: #407bff;
}

.admin-nav-item p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .admin-nav-item {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .admin-nav-items-conteiner {
    justify-content: unset;
    flex-direction: column;
  }

  .admin-nav-conteiner {
    padding: 0px;
    width: 300px;
    height: calc(100vh - 70px);
  }

  .admin-nav-item {
    border-radius: 0;
    font-size: 18px;
    justify-content: flex-start;
    height: 80px;
    width: 300px;
    background-color: #ffffff;
    padding-left: 40px;
    border-bottom: solid 1px #e1e1e1;
  }
}
