.product-crud-card{
    margin-bottom: 30px;
}

.card-crud-top-container{
    text-align: center;
    padding: 16px 0;
    border-bottom: 1px solid #E1E1E1;
}

.card-crud-top-container img{
    width: 158px;
    height: 158px;
}

.card-crud-bottom-container{
    padding: 15px 20px 15px 20px;
}

.card-crud-bottom-container h6{
    font-size: 18px;
    color: #263238;
}

.product-crud-categories-badges{
    display: flex;
    flex-direction: row;
    padding: 0 20px;
}