.admin-container {
  display: flex;
  flex-direction: column;
}

.admin-content {
  padding: 20px;
}

@media (min-width: 768px) {
  .admin-content {
    padding: 30px 40px;
    flex: 1;
  }
}

@media (min-width: 1200px) {
  .admin-container {
    flex-direction: row;
  }

  .admin-content {
    padding: 30px 40px;
    flex: 1;
  }
}
